<!DOCTYPE html>
<html>
<head>
    <title>Campos dos Modelos</title>
</head>
<body>
    <div style="display: flex;">
        <div style="flex: 1;">
            <h1>Campos dos Modelos</h1>
            <ul>
                {% for model, campos in campos_tabelas.items %}
                <li>{{ model }}:
                    <ul>
                        {% for field in campos %}
                        <li>{{ field }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div style="flex: 1;">
            <h1>Campos do Modelo Dinâmico</h1>
            <ul>
                {% for model, campos in campos_tabelas.items %}
                {% if model == "ModeloDinamico" %}
                <li>{{ model }}:
                    <ul>
                        {% for field in campos %}
                        <li>{{ field }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>

